.container {
  /* max-width: 1200px; */
  margin: 0 auto;
  /* background-color: white; */
}
* {
  font-family: Arial, Helvetica, sans-serif;
  /* background-color: #fe2c55; */
}
.logo {
  width: 50px;
  height: 60px;
}
.logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.header {
  padding: 3px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #e6e6e6;
  position: fixed;
  /* max-width: 1200px; */
  width: 100%;
  background-color: white;
}
.search-container input {
  padding: 15px 15px;
  width: 450px;
  height: 50px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  border: none;
  background-color: #f1f1f2;
  font-size: 16px;
  color: #72737a;
  outline: none;
}
.search-container {
  display: flex;
  align-items: center;
  margin-left: 160px;
}
.search-container button {
  padding: 15px 15px;
  height: 50px;
  width: 50px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  border-left: 1px solid #e7e7e8;
  border-right: none;
  border-top: none;
  border-bottom: none;
  background-color: #f1f1f2;
  position: relative;
}
.search-container button::after {
  position: absolute;
  background-color: #f1f1f2;
  content: "";
  width: 10px;
  height: 10px;
  margin-left: -37px;
  margin-top: -16px;
}
.search-container button::before {
  position: absolute;
  background-color: #f1f1f2;
  content: "";
  width: 10px;
  height: 10px;
  margin-left: -21px;
  margin-top: 23px;
}
.search-container button i {
  font-size: 16px;
}
.other {
  display: flex;
  gap: 20px;
  margin-right: 10px;
  align-items: center;
}
.other button {
  padding: 6px;
  width: 110px;
  font-size: 16px;
  font-weight: 500;
  background-color: white;
  border-radius: 3px;
  border: 1px solid rgb(201, 201, 201);
}
.other i {
  font-size: 22px;
}

.content-l {
  margin-left: 15px;
  width: 210px;
  position: fixed;
  top: 67px;
  height: 100vh;
  overflow-y: scroll;
}
.explore {
  margin-top: 32px;
  display: inline-flex;
  flex-direction: column;
  gap: 30px;
  border-bottom: 1px solid #e6e6e6;
  padding: 0px 0px 20px;
  width: 100%;
}
.explore p .icon {
  margin-right: 12px;
}
.explore p {
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
}
.explore a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  color: black;
}
.explore a i {
  margin-right: 12px;
}
.following div {
  display: flex;
  align-items: center;
}
.following div div {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}
.following {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 18px;
  border-bottom: 1px solid #e6e6e6;
}
.following div i {
  font-size: 30px;
}
.title {
  font-size: 14px;
  color: #7e8085;
}
.styles-1 {
  font-size: 14px;
  font-weight: 600;
}
.styles-2 {
  font-size: 12px;
  color: #8c8e93;
}
.see-more {
  font-size: 14px;
  color: #fe2c55;
  font-weight: 500;
  margin-bottom: 20px;
}
.infor {
  display: flex;
  flex-wrap: wrap;
  gap: 11px;
  margin-top: 20px;
  margin-bottom: 90px;
}
.infor a {
  text-decoration: none;
  font-size: 12px;
  color: #94959a;
}
.infor p {
  font-size: 13px;
  color: #94959a;
  margin-top: 16px;
}

.i-user-top .pic {
  width: 60px;
  height: 60px;
}
.i-user-top .pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
.i-user-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 450px;
  gap: 12px;
}
.video {
  margin-top: 100px;
  display: inline-block;
}
.content {
  display: flex;
}
.content-r {
  margin-left: 520px;
  width: 450px;
}

.i-user-top .name {
  margin-right: 150px;
  display: flex;
  gap: 5px;
}
.titles {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.followed {
  background-color: white;
  border: 1px solid#fe2c55;
  color: #fe2c55;
  padding: 8px 16px;
  font-weight: 600;
}
.sound {
  font-size: 13px;
  text-decoration: none;
  color: #161823;
}
.sound i {
  margin-right: 10px;
  font-size: 11px;
}
.clip {
  width: 298px;
  height: 530px;
  margin-top: 16px;
  margin-left: 65px;
}
.clip iframe {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.i-user-bot {
  display: flex;
  border-bottom: 1px solid #dfdfdf;
  padding: 0 0 20px 0;
}
.conven {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 16px;
  margin-top: 220px;
  align-items: center;
}
.conven div {
  padding: 15px 15px;
  background-color: #f1f1f2;
  border-radius: 50%;
}

.conven div i {
  font-size: 20px;
}
.sp {
  margin-top: 20px;
}
.trending {
  position: fixed;
  width: 80px;
  height: 80px;
  bottom: 150px;
  right: 40px;
}
.trending img:first-child {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.trending .slogan-2 {
  width: 100%;
  height: 20%;
  object-fit: cover;
}
.trending .tit-1 {
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  color: white;
  margin-top: 6px;
}
.trending .tit-2 {
  font-size: 40px;
  color: white;
  font-weight: 1000;
}

.arrow-up i {
  font-size: 30px;
}
.goods {
  width: 210px;
  height: 100vh;
  position: fixed;
}
.goods img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.content-e a button {
  padding: 7px 15px;

  position: fixed;
  border-radius: 20px;
  bottom: 20px;
  left: 1410px;
  background-color: white;
  color: #686868;
  font-weight: 600;
  border: 1px solid rgb(172, 172, 172);
}
.data {
  font-size: 13px;
  font-weight: 600;
  color: #575c67;
}

/* ads */

/* explore */
.content-r-more {
  margin-top: 95px;
  margin-left: 400px;
  width: 950px;
}
.content-r-more div {
  display: flex;
  gap: 16px;
}
.content-r-more div a button {
  padding: 8px 13px;
  font-weight: 500;
  border-radius: 5px;
  border: none;
  font-size: 16px;
}
.content-r-more div button i {
  margin-right: 6px;
}
.Dance {
  background-color: #161823;
  color: white;
  border-radius: 5px;
  padding: 8px 13px;
  border: none;
}
